{% extends "index.html" %}

{% block content %}

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Name</th>
            <th scope="col">Date of creation</th>
            <th scope="col">Rating</th>
            <th scope="col">Active:</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for g in group %}
            <tr>
                <th scope="row">{{ g.pk }}</th>
                <td>{{ g.name }}</td>
                <td>{{ g.date_of_creation }}</td>
                <td>{{ g.rating }}</td>
                <td>{{ g.is_active }}</td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'group:update_group' g.pk %}">Edit</a>
                </td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url 'group:delete_group' g.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
