{% extends "index.html" %}
{% load static %}
{% block content %}

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Grade</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">CV</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for student in students %}
            {% if student.avatar %}
            <td><img src="{% static student.avatar.url %}" alt="" height="100" width="100" class="mr-3"></td>
            {% else %}
            <td>No photo</td>
            {% endif %}
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            {% if student.birth_date %}
                <td>{{ student.birth_date }}</td>
                <td>{{ student.age }}</td>
            {% else %}
                <td>Undefined</td>
                <td>Undefined</td>
            {% endif %}
            <td>{{ student.grade }}</td>
            <td>{{ student.group }}</td>
            <td><a type="button" class="btn btn-warning" href="{% url 'students:update_student' student.pk %}">Edit</a>
                </td>
            <td><a type="button" class="btn btn-danger"
                       href="{% url 'students:delete_student' student.pk %}">Delete</a>
                </td>
            {% if student.cv %}
                <td><a type="button" class="btn btn-success"
                       href="{% static student.cv.url %}">CV</a>
                </td>
                {% else %}
                <td>No CV</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
