{% extends "index.html" %}

{% load static %}

{% block content %}

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for teacher in teachers %}
            <tr>
                <td><img src="{% static teacher.avatar.url %}" alt="" height="100" width="100" class="mr-3"></td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.birth_date }}</td>
                    {% for g in teacher.group.all %}
                        <td><a href="{% url 'group:update_group' g.pk %}">{{ g.name }}</a></td>
                        {% endfor %}
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                </td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url 'teachers:delete_teacher' teacher.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
